
@{
    ViewBag.Title = "SoftContraive";
}

<link href="~/Styles/HomeStyle.css" rel="stylesheet" type="text/css" />

<div id="ContentSlider">
    <div id="Slider">
        <div id="ElementOne" class="ElementSlider ElementVisible">
            <img src="~/Content/Images/Lake.jpg" alt="Lake" />
        </div>
        <div id="ElementTwo" class="ElementSlider">
            <img src="~/Content/Images/Mountain-Range.jpg" alt="Mountain-Range" />
        </div>
        <div id="ElementThree" class="ElementSlider">
            <img src="~/Content/Images/Mt-Fuji.jpg" alt="Mt-Fuji" />
        </div>
        <div id="ElementFour" class="ElementSlider">
            <img src="~/Content/Images/Pink-Forest.jpg" alt="Pink-Forest" />
        </div>
        <div id="ElementFive" class="ElementSlider">
            <img src="~/Content/Images/Sky.jpg" alt="Sky" />
        </div>      
    </div>
     
    <button id="btnSiguiente">Siguiente</button>
    <button id="btnAnterior">Anterior</button>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript" src="~/Scripts/HomeScripts/HomeScripts.js"></script>

