@model CRUDRemenber.Areas.TestOne.Models.Home.HomeModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.TextBoxFor(x => x.Name, new { id = "InputName" })
@Html.TextBoxFor(x => x.LastName, new { id ="InputLastName"})



